.hero-page {
    position: relative;
    width: 1600px;
    margin: 0 auto;
}

.hero-left-side {
  width: 100px;
  display: flex;
  align-items: flex-end;
}

.hero-media-list {
  margin-bottom: 40px;

  transform: rotate(-90deg) translateY(26px);
  transform-origin: top left;
}

.hero-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.media-list {
  display: flex;
  align-items: center;
  gap: 40px;

  &::before {
    content: '';

    display: block;
    width: 60px;
    height: 1px;
    background-color: #303030;
  }
}

.media-link {
  display: block;
  font-weight: 600;
  font-size: 11px;
  line-height: calc(15 / 11);
  letter-spacing: 0.2em;

  color: var(--primary-gray-color);

  transition: color 250ms;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}


// .hero-page {
//     background-color: #191C2633;
//     background-image: url(../images/bcg-image1.png);
//     background-size: cover;
//     width: 1070px;
// height: 680px;
// margin: 0 auto;
// }

.price-block {
    display: flex;
    gap: 30px;
}

.hero-page__description {
        background-color: #191C2633;
    background-image: url(../images/bcg-image1.png);
    background-size: contain;
    background-repeat: no-repeat;
height: 680px;
margin: 0 auto;
    padding: 272px 0 208px 100px;
    flex-grow: 1;

}

.hero-page__description-text {
    color: rgba(157, 164, 189, 0.6);
    font-weight: 600;
    font-size: 11px;
    line-height: calc(15 / 11);

     &::before {
    content: '';
    display: inline-block;
    width: 60px;
    height: 1px;
    margin-right: 20px;
    margin-bottom: 5px;
    

    background-color: var(--title-gray-color);
  }
}

.hero-page__description-title {
    margin-top: 20px;

    font-family: Raleway, sans-serif;
font-weight: 700;
font-size: 72px;
line-height: calc(85 / 72);

color: var(--title-white-color);
}

.hero-page__description-about {
    margin-top: 20px;
    max-width: 357px;

    color: var(--price-links-color);
    line-height: calc(30 / 18);
}