:root {
    --primary-gray-color: #303030;;
    --accent-text-color: #555555;
    --paragraph-text-color: #9DA4BD;
    --title-white-color: #FFFFFF;
    --title-gray-color: rgba(157, 164, 189, 0.6);
    --bcg-color-gray: #F7F7F7;
    --logo-black-color: #000000;
    --accent-color: #FF6C00;
    --price-links-color: #9DA4BD;
}